<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.princecoder.listviewtutorial" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayDetails"
            android:label="@string/title_activity_display_details"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".CustomBaseAdapterActivity"
            android:label="@string/title_activity_custom_base_adapter" >
        </activity>
        <activity
            android:name=".ExpendableListActivity"
            android:label="@string/title_activity_custom_base_adapter" >
        </activity>
        <activity
            android:name=".CustomArrayAdapterActivity"
            android:label="@string/title_activity_custom_array_adapter" >
        </activity>
    </application>

</manifest>
